:root {
  --highlight-color: #7a3097;
  --background-color: #171717;
  --text-color: #ffffff;
}

p {
  color: white;
}

html {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2 {
  color: var(--highlight-color);
  font-weight: 700;
}

p {
  word-break: break-word;
  white-space: normal;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
p {
  font-size: 1rem;
  line-height: 1.6;
}

canvas {
  height: 100vh;
  width: 100vw;
  display: block;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

#navBar {
  container-type: inline-size;
  padding-top: 25px;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  height: 100vh;
  max-width: 15vw;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

#navBar h3 {
  text-align: center;
}

#navBar a {
  color: var(--highlight-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.cv-button {
  border: var(--highlight-color) 2px solid;
  color: white !important;          
  text-decoration: none;    
  padding: 0.6em 0.6em; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  font-weight: 200;
  margin: 1em auto;
  transition: border 0.3s ease-in-out !important;
}

.cv-button:hover{
  border: #d9b3e6 2px solid;
}

#navBar a:hover {
  color: #d9b3e6;
}

#navBar p {
  color: white;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: font-size 0.2s ease;
  font-size: 1rem;
  text-align: center;
}

@container (max-width: 250px) {
  #navBar p {
    font-size: 1.0rem;
  }
}

@container (max-width: 200px) {
  #navBar p {
    font-size: 1.0rem;
  }
}

@container (max-width: 150px) {
  #navBar p {
    font-size: 0.8rem;
  }
}


#socialsButtonsDiv {
  display: flex;
  flex-direction: row;
}

#socialsButtonsDiv a {
  padding: 5px;
}

#tabsDiv {
  text-align: left;
  max-width: 100%;
  font-size: larger;
  /* padding-left: 23px; */
  padding-left: 10%;
  margin-right: auto;
}

#tabsDiv ul {
  margin-top: 0px;
  padding: 10px;
}

#tabsDiv li {
  padding: 5px;
}

#tabsDiv a {
  padding-left: 5px;
}

#mainZone {
  /* max-width: 85vw;
  width: 85vw; */
  /* max-height: 100%;
  min-height: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  /* margin-left: auto; */
  margin-left: 15vw; /* same as navbar width */
  width: calc(100vw - 15vw);
  overflow-x: hidden;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#homeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  color: var(--highlight-color);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  width: 70%;
  max-width: 1000px;
  z-index: 10;
}

#aboutMe {
  background-color: var(--background-color);
  padding-left: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-bottom: 5px;
  border: 0px;
  border-bottom: 2px solid var(--highlight-color);
  border-style: dotted;
}

#bio{
  min-height: 30vh;
  display: grid; 
  grid-template-columns: 40% 60%;
}

#educationDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#extracurricularDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.timeline-content {
  padding: 10px 15px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  margin: 20px 0;
  flex: 1;
}

.timeline-content h3 {
  margin: 0 0 5px;
}

.timeline-content p {
  margin: 0;
  color: #555;
}

#last {
  display: flex;
  flex-direction: column;
}

#last h3,
#last p {
  word-wrap: break-word;
  margin: 0px;
}

#last img {
  max-width: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

#extra-info {
  display: grid; 
  grid-template-columns: 40% 60%;
}

#projects {
  background-color: var(--background-color);
  padding-left: 50px;
  padding-right: 50px;
  min-height: 96vh;
}

#projectsDiv {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;

}

#projectsDiv img {
  width: 50%;
}

#projectsDiv h3 {
  margin-bottom: 5px;
}

#projectsDiv p {
  margin-top: 0px;
}

#projectsTabSel {
  display: none;
}

.project {
  max-width: 30%;
  width: 30%;
  min-height: 30vh;
  background-color: white;
  border: solid 3px var(--highlight-color);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.project p {
  padding-left: 10px;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.project {
  width: 45%;
  min-width: 30%;
  max-width: 45%;
}

#projectsTab {
  align-self: center;
  margin-left: auto;
}

#projectsTab button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--highlight-color);
  font-size: larger;
  height: 100%;
}

#projectsTabSel {
  align-self: center;
  margin-left: auto;
}

.active-tab {
  border-bottom: solid 2px black !important;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: black;
  color: white;
  max-height: 6vh;
  padding-bottom: 10px;
}

#CV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f1e7;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin: 0px;
}

/* ---------- HAMBURGER MENU ---------- */
.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: black;
  color: white;
  border: none;
  font-size: 28px;
  z-index: 1001;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 12px;
  opacity: 50%;
}

#interactButton {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  border: white solid 1px;
  z-index: 1001;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 12px;
}

/* ---------- RESPONSIVE STYLES ---------- */

/* For tablets and smaller laptops */
@media (max-width: 1024px) {
  #interactButton {
    display: block;
  }
  .hamburger {
    display: block;
  }
  #navBar {
    display: none;
  }
  #mainZone{
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }
  #projectsDiv{
    justify-content: center;
  }
  #navBar.active {
    display: flex;
    z-index: 1000;
    max-width: 30vw;
    width: 30vw;
    height: 100vh;
  }
}

@media (max-width: 750px) {
  #projectsTab {
    display: none;
  }
  
  #projectsTabSel {
    display: block;
  }
}

@media (max-width: 500px) {
  #tabsDiv {
    padding-left: 0px;
  }

  .project {
    max-width: 80%;
    width: 80%;
    min-height: 30vh;
  }

  #bio {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: auto auto; /* ensure both sections stack */
  }

  #bio > div {
    width: 100%;
  }

  #extra-info {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: auto auto; /* ensure both sections stack */
  }

  #extra-info > div {
    width: 100%;
  }

  #projectsTabSel {
    display: block;
    margin-right: -40px;
  }

  #tabsDiv ul li i{
    display: none;
  } 

  #tabsDiv ul li::before {
    content: "•";
    color: white;
    margin-right: 8px;
    font-size: 1.0em;
    vertical-align: middle;
  }
}
